node_modules
.next
dist
coverage
*.log
apps/frontend/public/pmtiles/*.pmtiles
apps/frontend/public/pmtiles_src/roads.geojson
apps/frontend/public/pmtiles_src/places.geojson
apps/frontend/public/pmtiles_src/railways.geojson
apps/frontend/public/pmtiles_src/roads_between_cities.geojson
