node_modules
.pnpm-store
.next
dist
coverage
.env
.env.local
.env.*.local
__pycache__
*.pyc
apps/frontend/public/pmtiles_src/roads.geojson
apps/frontend/public/pmtiles_src/railways.geojson
apps/frontend/public/pmtiles_src/places.geojson
