APP_NAME=Geo Platform API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=osm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Egor150101

REDIS_HOST=localhost
REDIS_PORT=6379

CORS_ORIGINS=http://localhost:3000,http://localhost:8080
TILE_BASE_URL=http://localhost:8080